@import "colors";

.pika-single {
  &.is-hidden {
    display: none;
  }

  border: 1px solid $primary;
  background: $background;
  color: $primary;
  max-width: 190px;
  user-select: none;
  -webkit-user-drag: none;

  .pika-day {
    -webkit-appearance: none;
    color: $primary;
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;

    &:focus {
      outline-color: transparent;
    }
  }

  table {
    width: 190px;
  }

  thead abbr {
    text-decoration: none;
    color: $primary;
  }

  .pika-label {
    height: 30px;
    display: inline-block;
    font-size: 0;

    .pika-select {
      -webkit-appearance: none;
      margin: 0;
      height: 30px;
      border: none;
      color: $primary;
      background: $background;
      cursor: pointer;
      padding: 3px;
      border-radius: 0;

      &:focus {
        outline: none;
      }

      option:checked {
        background: $primary !important;
        color: $background;
      }

      &:-internal-list-box {
        background: $primary;
        border: none;
        overflow-y: hidden;
      }
    }

    .pika-select-month {
      width: 150px;
    }

    .pika-select-year {
      width: 40px;
    }
  }

  .pika-prev, .pika-next {
    width: 50%;
    background: $primary;
    color: $background;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .is-today {
    background: $secondry;
    button {
      color: $background;
    }
  }

  .is-selected {
    background: $primary;
    button {
      color: $background;
    }
  }
}
