@import "colors";
@import "papers";
@import "common";

@page {
  size: A4;
}

#root.print-view {
  .sheet {
    border: 5px double #000;
    border-radius: 3mm;

    .header {
      height: 80px;
      border-bottom: 1px double #000;
      display: flex;

      .logo-container {
        width: 200px;
        text-align: center;

        img {
          max-width: 200px;
          max-height: 80px;
        }
      }

      .title-container {
        flex: 1 1 auto;

        h1, h3 {
          text-align: center;
          margin: 0;
        }

        h1 {
          font-size: 25px;
        }
      }

      .metadata-container {
        width: 200px;
      }
    }
  }

  button {
    -webkit-appearance: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: $background;
    font-size: 14pt;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    color: $fg;
  }
}

@media print {
  #root {
    > * {
      display: none;
    }
    .pages-wrapper {
      display: block;
    }
  }
}
