@import "colors";

body {
  margin: 0;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  box-shadow: inset 0 0 6px darken($primary, 25%);
}

::selection {
  background: $primary;
  color: $background;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

@font-face {
  font-family: "BBCNassim";
  src: local("☺"), local("BBCNassim"), url("./assets/bbc.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#root.print-view {
  .sheet {
    &,
    * {
      font-family: BBCNassim;
      text-align: right;
    }
    .header {
      height: 80px;
      border-bottom: 1px double #000;
    }

    .header img {
      float: left;
      height: 75px;
    }
  }

  button {
    -webkit-appearance: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: $background;
    font-size: 14pt;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    color: $fg;
  }
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

// For screen preview
@media screen {
  .sheet {
    background: white;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 5mm;
    margin-bottom: 5mm;
  }

  // Paper sizes
  body.A3 .sheet {
    width: 297mm;
    height: 419mm;
  }

  body.A3.landscape .sheet {
    width: 420mm;
    height: 296mm;
  }

  body.A4 .sheet {
    width: 210mm;
    height: 296mm;
  }

  body.A4.landscape .sheet {
    width: 297mm;
    height: 209mm;
  }

  body.A5 .sheet {
    width: 148mm;
    height: 209mm;
  }

  body.A5.landscape .sheet {
    width: 210mm;
    height: 147mm;
  }
}

// Padding area
.sheet.padding-5mm {
  padding: 5mm;
}

.sheet.padding-10mm {
  padding: 10mm;
}

.sheet.padding-15mm {
  padding: 15mm;
}

.sheet.padding-20mm {
  padding: 20mm;
}

.sheet.padding-25mm {
  padding: 25mm;
}

@media print {
  #root {
    > * {
      display: none;
    }
    .pages-wrapper {
      display: block;
    }
  }
}

@print {
  margin: 0;
}
