@import "colors";
@import "papers";
@import "common";

@page {
  size: A4;
}

body {
  direction: rtl;
}

* {
  -webkit-print-color-adjust: exact;
}

#root.print-view {
  .sheet {
    border: 5px double #000;
    border-radius: 3mm;

    .header {
      height: 80px;
      border-bottom: 1px double #000;
      display: flex;

      .logo-container {
        width: 200px;
        text-align: center;

        img {
          max-width: 200px;
          max-height: 80px;
        }
      }

      .title-container {
        flex: 1 1 auto;

        h1,
        h3 {
          text-align: center;
          margin: 0;
        }

        h1 {
          font-size: 18px;
        }

        h3 {
          font-size: 25px;
          background: #efefef;
          margin-left: 15px;
          margin-right: 15px;
        }
      }

      .metadata-container {
        width: 200px;
        margin-top: auto;
        margin-bottom: auto;

        .field-wrapper {
          span,
          label {
            display: inline-block;
            margin: 0;
          }

          label {
            width: 60px;
          }

          span {
            width: 140px;
            border-bottom: 1px dotted;
            text-align: center;
          }
        }
      }
    }
  }

  button {
    -webkit-appearance: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: $background;
    font-size: 14pt;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    color: $fg;
  }
}

@media print {
  #root {
    > * {
      display: none;
    }
    .pages-wrapper {
      display: block;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 4px;

  tr:nth-child(1) {
    background: #efefef;
  }

  th,
  td {
    border: 1px solid;
    padding: 3px;
    text-align: center;
  }

  td.empty {
    background: #efefef;
    border: none;
  }

  .foot {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;

    td {
      border-bottom: none;
      &:nth-child(1) {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
    }
  }
}

.simple-row {
  display: flex;
  width: 100%;

  b {
    min-width: 175px;
  }
}

.text-wrapper {
  margin: 5px;
  width: 100%;
  display: flex;
  text-align: center;

  span,
  label {
    margin: 0;
    height: 25px;
    line-height: 26px;
  }

  label {
    min-width: 25%;
    font-weight: bold;
  }

  span {
    border-bottom: 1px dotted #000;
    flex: 1 1 auto;
  }
}
