$secondry: #87cefa;
$primary: #ff9b26;
$background: #111c24;
$fg: #fff;
$frame-height: 50px;

@font-face {
  font-family: "BBCNassim";
  src: local("☺"), local("BBCNassim"), url("./assets/bbc.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
  $background,
  lighten($background, 10%) 70%);
  overflow-y: hidden;
}

* {
  font-family: BBCNassim;
}

span, i, h1, h2, h3, h4, h5, h6, a, p {
  color: $fg;
  cursor: default;
}

body #app * {
  user-select: none;
  -webkit-user-drag: none;
}

#frame-wrapper {
  position: fixed;
  width: 100vw;
  height: $frame-height - 1px;
  margin: 0;
  background: $background;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  border-bottom: 1px solid $primary;
  z-index: 100;
  button {
    -webkit-app-region: no-drag;
    border: none;
    background: transparent;
    margin: 0;
    &:focus {
      outline: none;
    }
  }

  #close {
    float: left;
    width: $frame-height;
    height: $frame-height;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid $primary;
    * {
      height: 2px;
      width: $frame-height - 30px;
      background-color: $primary;
      position: absolute;
    }
    #b1 {
      transform: rotate(45deg);
    }
    #b2 {
      transform: rotate(-45deg);
    }
    &:hover {
      background: $primary;
      * {
        background: $background;
      }
    }
  }

  #dropdown {
    float: right;
    width: 300px;
    height: $frame-height;
    display: inline-block;
    border-left: 1px solid $primary;
    padding-right: 4px;
    text-align: center;
    z-index: 100;
    & > button {
      width: 100%;
      font-size: 24pt;
      color: $primary;
    }
    #items {
      min-height: 50px;
      border-left: 1px solid $primary;
      border-right: 1px solid $primary;
      margin-right: -5px;
      margin-left: -1px;
      display: none;
    }
    #actions {
      display: flex;
      height: 50px;
      button {
        font-size: 14pt;
        cursor: pointer;
        width: 100%;
      }
      #login {
        background: $primary;
        color: $fg;
      }
      #logout {
        background: $secondry;
        color: $fg;
      }
    }
    &:hover #items {
      display: block;
    }
  }

  #navbar {
    float: right;
    width: $frame-height;
    height: $frame-height;
    margin: 0;
    display: inline-block;
    border-left: 1px solid $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    * {
      height: 2px;
      width: $frame-height - 20px;
      background-color: $primary;
      position: absolute;
      transition: transform 200ms ease-in;
    }
    #b1 {
      transform: translateY(-$frame-height / 5);
    }
    #b2 {
      transform: transformY(0);
    }
    #b3 {
      transform: translateY($frame-height / 5);
    }
    &.open {
      #b1 {
        transform: rotate(45deg);
      }
      #b2 {
        transform: translateY($frame-height / 5 + 5px);
      }
      #b3 {
        transform: rotate(-45deg);
      }
    }
  }
}

#app {
  position: relative;
  top: $frame-height;
  opacity: 1;
  transition: opacity 200ms ease;
  width: 100vw;
  height: calc(100% - #{$frame-height});
  display: flex;
  justify-content: center;
  align-items: center;
  &.hide {
    opacity: 0;
  }
}

#login-box {
  width: 350px;
  height: 307px;
  border-right: 1px solid $primary;
  border-left: 1px solid $primary;
  background: rgba(0, 0, 0, 0);
  img {
    width: 350px;
  }
  input {
    border: none;
    border-bottom: 1px solid $primary;
    font-size: 14pt;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    color: $primary;
    background: rgba(0, 0, 0, 0);
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $primary;
    }
  }
  button {
    width: 100%;
    border: none;
    font-size: 15pt;
    background-color: $primary;
    color: $fg;
  }
}

#home {
  p {
    color: $primary;
    font-size: 20pt;
  }
  h1 {
    color: $secondry;
    font-size: 15pt;
  }
}

#menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
  .diamond {
    width: 200px;
    height: 200px;
    background: $primary;
    cursor: pointer;
    transform: rotate(45deg);
    position: relative;
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      transform: rotate(-45deg);
      p {
        font-size: 17pt;
      }
      .fa {
        font-size: 75pt;
        width: 200px;
        text-align: center;
        margin-right: 17px; // It's just random!
      }
    }
    &:hover {
      box-shadow: -5px 5px 5px lighten($background, 20%);
    }
  }
  .diamond:nth-child(even) {
    background: $secondry;
  }
  .diamond:nth-child(4n-2) {
    bottom: 145px;
  }
  .diamond:nth-child(4n) {
    top: 145px;
    left: 400px;
  }
  .diamond:nth-child(4n-1) {
    left: 55px;
  }
  .diamond:nth-child(4n-3) {
    right: 55px;
  }
}

.img-bg {
  background: url("./assets/map.jpg");
}

#new-user {
  input {
    border: none;
    border-bottom: 1px solid $primary;
    font-size: 14pt;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    color: $primary;
    background: rgba(0, 0, 0, 0);
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $primary;
    }
  }
  button {
    width: 100%;
    border: none;
    font-size: 15pt;
    background-color: $primary;
    color: $fg;
  }
}
