@import "route";
@import "colors";
@import "datepicker";
@import "common";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  overflow-y: hidden;
}

span,
i,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
label,
p {
  color: var(--fg);
  cursor: default;
}

.icon {
  margin-left: 40px;

  span:nth-child(2) {
    position: absolute;
    top: 20%;
    right: calc(25% - 20px);
    transform: scale(0.9);
    -webkit-text-stroke: var(--background) 2px;
  }
}

#frame-wrapper {
  position: fixed;
  width: 100vw;
  height: $frame-height - 1px;
  margin: 0;
  background: var(--background);
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  border-bottom: 1px solid var(--primary);
  z-index: 100;

  button {
    -webkit-app-region: no-drag;
    border: none;
    background: transparent;
    margin: 0;

    &:focus {
      outline: none;
    }
  }

  #toggle-color {
    height: $frame-height;
    width: $frame-height;
    justify-content: center;
    border-left: 1px solid var(--primary);
    font-size: 14pt;
    &,
    * {
      cursor: pointer;
      color: var(--primary);
    }
  }

  #close {
    float: left;
    width: $frame-height;
    height: $frame-height;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid var(--primary);

    * {
      height: 2px;
      width: $frame-height - 30px;
      background-color: var(--primary);
      position: absolute;
    }

    #b1 {
      transform: rotate(45deg);
    }

    #b2 {
      transform: rotate(-45deg);
    }

    &:hover {
      background: var(--primary);

      * {
        background: var(--background);
      }
    }
  }

  #dropdown {
    float: right;
    width: 300px;
    height: $frame-height;
    border-left: 1px solid var(--primary);
    padding-right: 4px;
    text-align: center;
    z-index: 10000000;

    & > button {
      width: 100%;
      font-size: 24pt;
      color: var(--primary);
    }

    #items {
      min-height: 50px;
      border-left: 1px solid var(--primary);
      border-right: 1px solid var(--primary);
      margin-right: -5px;
      margin-left: -1px;
      display: none;
      position: relative;
      top: -5px;

      & > div:first-child {
        margin-top: 5px;
      }
    }

    .user {
      font-size: 13pt;
      color: var(--primary);
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      transition: background 100ms ease-in;
      background: var(--background);

      &:hover {
        background: var(--primary);
        color: var(--fg);
      }
    }

    #actions {
      display: flex;
      height: 50px;
      border-top: solid 1px var(--background);

      button {
        font-size: 14pt;
        cursor: pointer;
        width: 100%;
      }

      #login {
        background: var(--primary);
        color: var(--fg);
      }

      #logout {
        background: var(--secondry);
        color: var(--fg);
      }
    }

    &:hover #items {
      display: block;
    }
  }

  #navbar {
    float: right;
    width: $frame-height;
    height: $frame-height;
    margin: 0;
    border-left: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    * {
      height: 2px;
      width: $frame-height - 20px;
      background-color: var(--primary);
      position: absolute;
      transition: transform 200ms ease-in;
    }

    #b1 {
      transform: translateY(-$frame-height / 5);
    }

    #b2 {
      transform: transformY(0);
    }

    #b3 {
      transform: translateY($frame-height / 5);
    }

    &.open {
      #b1 {
        transform: rotate(45deg);
      }

      #b2 {
        transform: translateY($frame-height / 5 + 5px);
      }

      #b3 {
        transform: rotate(-45deg);
      }
    }
  }
}

#app {
  position: relative;
  top: $frame-height;
  opacity: 1;
  transition: opacity 200ms ease;
  width: 100vw;
  height: calc(100% - #{$frame-height});
  display: flex;
  justify-content: center;
  align-items: center;

  &.hide {
    opacity: 0;
  }

  .full-page {
    height: 100%;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

#login-box {
  width: 350px;
  height: 307px;
  border-right: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  background: var(--alpha-background-7);
  border-radius: 15px;

  img {
    width: 350px;
  }

  input {
    border: none;
    border-bottom: 1px solid var(--primary);
    font-size: 14pt;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    color: var(--primary);
    background: rgba(0, 0, 0, 0);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--primary);
    }
  }

  button {
    width: 100%;
    border: none;
    font-size: 15pt;
    background-color: var(--primary);
    color: var(--fg);
  }
}

#home {
  p {
    color: var(--primary);
    font-size: 20pt;
  }

  h1 {
    color: var(--secondry);
    font-size: 15pt;
  }
}

#menu {
  min-width: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  #diamonds {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    flex-wrap: wrap;

    max-width: 1200px;
    margin: auto;
  }

  .diamond {
    width: 180px;
    height: 180px;
    background: var(--primary);
    padding: 15px;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    border-radius: 30px;
    transform: rotate(45deg);
    margin: 35px;
    transition: 300ms transform cubic-bezier(0.165, 0.84, 0.44, 1);

    .inner {
      transform: rotate(-45deg);
      transition: 300ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    p {
      text-align: center;
      font-size: 20pt;
    }

    .fa,
    .icon {
      cursor: pointer;
      font-size: 75pt;
      width: 200px;
      text-align: center;
    }

    &:nth-child(even) {
      background: var(--secondry);
    }

    &:hover {
      transform: rotate(0);

      .inner {
        transform: rotate(0);
      }
    }
  }
}

.img-bg {
  background: url("./assets/bg.jpg");
  background-position-x: center;
  background-position-y: center;
}

#new-user {
  input {
    border: none;
    border-bottom: 1px solid var(--primary);
    font-size: 14pt;
    width: 100%;
    padding: 5px;
    padding-top: 10px;
    color: var(--primary);
    background: rgba(0, 0, 0, 0);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--primary);
    }
  }

  button {
    width: 100%;
    border: none;
    font-size: 15pt;
    background-color: var(--primary);
    color: var(--fg);
  }
}

#users-list {
  width: 100%;
  max-width: 800px;
  text-align: center;
  color: var(--fg);
  padding-top: 100px;

  .row,
  .head {
    display: flex;
    width: 100%;

    div {
      margin: 5px;
      width: 100%;
      font-size: 17pt;
    }
  }

  #content {
    overflow-y: auto;
    height: calc(100vh - 150px - 150px);
    margin-bottom: 100px;
  }

  .head {
    border-bottom: 2px solid var(--secondry);
  }

  .row {
    border-bottom: 1px solid var(--background);
  }

  .row:nth-child(even) {
    background: var(--secondry);
  }

  .row:nth-child(odd) {
    background: var(--primary);
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  cursor: pointer;
  color: var(--fg);

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 2;
    left: 0;
    height: 25px;
    width: 100%;

    &:checked ~ .checkmark {
      background-color: var(--primary);
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid var(--primary);

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid var(--fg);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ span {
    background-color: var(--primary);
  }
}

#new-charter,
#new-systemic {
  .view {
    display: flex;
    height: 100%;

    .right-split {
      display: inline-block;
      width: calc(30% - 11px);
      max-width: 350px;
      margin: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 5px;
    }

    .left-split {
      display: inline-block;
      width: 100%;
      margin: 10px;
      border-right: 1px solid var(--primary);
    }

    :-webkit-any(.right-split, .ticket-wrapper, .group, .receives-wrapper)
      > input,
    :-webkit-any(.right-split, .ticket-wrapper, .group, .receives-wrapper)
      > .placeholder-input
      input {
      width: 100%;
      height: 30px;
      font-size: 14pt;
      margin: 3px;
      border: none;
      background: transparent;
      border-bottom: 1px solid var(--primary);
      color: var(--primary);

      &::-webkit-input-placeholder {
        color: var(--fg);
      }

      &:focus {
        outline-color: transparent;
      }
    }

    .right-split > button {
      -webkit-appearance: none;
      width: 100%;
      border: none;
      background: var(--primary);
      color: var(--background);
      font-size: 17pt;
      cursor: pointer;
      margin: 4px;

      &:focus {
        outline: none;
      }
    }
  }

  .receives-wrapper {
    display: flex;
    margin: 10px;
  }

  .tickets-wrapper {
    overflow-y: auto;
    height: calc(100% - 40px);
  }

  .ticket-wrapper {
    background: var(--light-background-10);
    margin: 15px;
    padding: 15px;
    border-radius: 0 0 25px 25px;
    min-height: 150px;
    display: flex;
    transition: opacity 500ms ease-out;

    &.remove {
      opacity: 0;
    }

    .remove-btn {
      -webkit-appearance: none;
      cursor: pointer;
      border: none;
      outline: none;
      background: var(--primary);
      border-radius: 0 0 0 35px;
      width: 35px;
      height: 35px;
      margin-right: -14px;
      margin-top: -14px;

      &:after {
        color: var(--background);
        font-size: 14pt;
        text-align: center;
      }
    }

    .group {
      margin: auto;
      padding: 10px;
    }

    .g1,
    .g2 {
      min-width: 100px;
      flex-shrink: 15;
    }

    .route-selector {
      min-width: 300px;
      margin: auto;
    }
  }
}

#list-charter {
  width: 100%;
  height: calc(100vh - 100px);
  margin: 100px;
  // background: var(--primary);

  button {
    -webkit-appearance: none;
    border: none;
    background: var(--primary);
    color: var(--background);
    font-size: 14pt;
    outline: none;
    cursor: pointer;
  }

  .data-wrapper {
    display: flex;
    max-width: 900px;
    margin: auto;
    overflow-y: auto;
    height: calc(100vh - 300px);

    div.col {
      display: inline-block;
      margin: 10px;
      width: 100%;

      div.row {
        height: 50px;
        line-height: 50px;
        font-size: 14pt;
        color: var(--fg);
        text-align: center;
        align-self: center;
        cursor: pointer;
      }

      div.row:nth-child(1) {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
        cursor: default;
      }
    }
  }
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150000000;
  transition: background 800ms ease-in;

  .modal-inner-wrapper {
    width: 70vw;
    min-width: 950px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background: var(--background);
    border-right: 1px solid var(--primary);
    transition: left 800ms ease-in;
    padding: 15px;
  }

  &.show {
    cursor: pointer;
    background: var(--alpha-background-7);

    .modal-inner-wrapper {
      left: 0;
    }
  }
}

#view-charter {
  .print-btn {
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    color: var(--background);
    background: var(--primary);
    border: none;
    outline: none;
    &,
    * {
      cursor: pointer;
    }
  }

  .edit-btn {
    -webkit-appearance: none;
    background: var(--secondry);
    border: none;
    color: var(--fg);
    float: left;
    height: 30px;
    margin: 20px;
    outline: none;
    &,
    * {
      cursor: pointer;
    }
  }

  .rounded-box {
    border-top: 1px solid var(--primary);
    border-radius: 25px 25px 0 0;
    display: inline-block;
    // 90 = 2 * (margin + padding)
    width: calc(100% - 90px);
    margin: 15px;
    padding-right: 30px;
    padding-left: 30px;

    & > label:nth-child(1) {
      font-size: 14pt;
      background: var(--light-background-10);
      border-radius: 10px;
      padding: 4px;
      position: relative;
      top: -15px;
      height: 30px;
      right: 30px;
    }
  }

  #head-wrapper {
    display: flex;
    margin-bottom: 15px;

    .rounded-box {
      height: 200px;
      width: 100%;

      &.first-child {
        width: 135%;
      }
    }
  }

  .data-row {
    label {
      width: 100px;
      color: var(--primary);
    }

    div,
    label {
      display: inline-block;
      margin: 3px;
    }

    div {
      font-size: 14pt;
    }
  }

  #receives-inner {
    display: flex;

    .data-row {
      display: inline-block;
      width: 100%;

      div {
        text-align: center;
      }
    }
  }

  #tickets-inner {
    overflow-y: auto;
    max-height: calc(100vh - 475px);

    .ticket-wrapper {
      width: calc(100% - 30px);
      margin: 15px;
      height: 110px;
      border-radius: 0 0 35px 35px;
      border: 1px solid var(--primary);
      text-align: center;

      &:first-child {
        margin-top: 0;
      }

      .data-row {
        display: block;
      }

      .group {
        width: 100%;
      }

      .g-wrapper {
        display: flex;
        text-align: right;
      }
    }
  }
}

#config-page-wrapper {
  input {
    border: none;
    outline: none;
    font-size: 15pt;
    background: transparent;
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    height: 35px;
    width: 400px;
    padding-right: 5px;
  }

  button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    height: 35px;
    font-size: 15pt;
    cursor: pointer;
    background: var(--primary);
    color: var(--background);
    border-bottom: 1px solid var(--primary);
  }

  .form {
    width: 100%;
    text-align: center;
  }
}

#fund-dashboard-wrapper {
  width: 100%;
  padding: 15px;
  height: calc(100vh - 50px);

  .table {
    display: flex;
    max-width: 900px;
    margin: auto;

    .col {
      width: 100%;
      margin: 4px;
    }

    .row-head {
      color: var(--primary);
      border-bottom: 1px solid var(--primary);
    }

    .row {
      height: 35px;
    }

    button.row {
      -webkit-appearance: none;
      border: none;
      outline: none;
      background: var(--primary);
      color: var(--background);
      width: 100px;
      cursor: pointer;
    }
  }
}

#charter-pay-counter {
  input {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary);
    height: 30px;
    font-size: 14pt;
    margin: 5px;
    padding: 2px;
    border-bottom: 1px solid var(--primary);

    &::-webkit-input-placeholder {
      color: var(--primary);
    }
  }

  .base-wrapper {
    width: 100%;
    display: flex;

    input {
      width: 100%;
    }
  }

  .buttons {
    width: 100%;
    display: flex;

    button {
      -webkit-appearance: none;
      width: 100%;
      outline: none;
      cursor: pointer;
      border: none;
      margin: 0;
      background: var(--background);
      color: var(--primary);
      font-size: 14pt;
      height: 40px;
      transition: background 100ms ease-in;

      &:hover {
        background: transparent;
      }

      .fa {
        margin: 3px;
        color: var(--primary);
      }
    }
  }

  .receives-data,
  .payments-data {
    max-height: calc((100vh - 450px) / 2);
    height: calc((100vh - 450px) / 2);
    overflow-y: auto;
  }

  .row {
    width: 100%;
    // height: 50px48    border-bottom: 1px solid var(--primary);

    .remove {
      -webkit-appearance: none;
      border: none;
      height: 50px;
      width: 50px;
      outline: none;
      font-size: 14pt;
      background: var(--primary);
      transition: background 250ms ease-in;

      &,
      * {
        cursor: pointer;
      }

      &:hover {
        background: transparent;
      }
    }

    .row-icon {
      float: left;
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 30pt;
      color: var(--primary);
      text-align: center;
    }
  }

  .note {
    width: 100%;
    text-align: center;
    color: var(--fg);
    height: 48px;
    line-height: 48px;
  }

  .buttons-wrapper {
    display: flex;
    width: 100%;
    margin-top: -10px;

    button {
      -webkit-appearance: none;
      width: 100%;
      border: none;
      outline: none;
      margin: 10px;
      cursor: pointer;
      color: var(--fg);
      height: 35px;
      font-size: 14pt;

      &.submit {
        background: var(--primary);
      }

      &.cancel {
        background: var(--secondry);
      }
    }
  }
}

.placeholder-input {
  margin-bottom: -25px;

  label {
    opacity: 0;
    transition: opacity 100ms ease-in;
    position: relative;
    display: block;
    width: 100%;
    background: var(--primary);
    text-align: center;
    height: 25px;
    line-height: 25px;
  }

  &.show-label label {
    opacity: 1;
  }

  &.small {
    margin-bottom: -15px;
    margin-top: 15px;

    label {
      background: none;
      text-align: right;
      font-size: 10pt;
      height: 15px;
      line-height: 15px;
    }
  }
}

#autocomplete {
  width: 200px;
  background: var(--background);
  max-height: 200px;
  border: 1px solid var(--primary);
  border-radius: 0 0 25px 25px;
  transition: opacity 150ms ease-in;
  z-index: 45545454;

  &,
  * {
    -webkit-user-drag: none;
  }

  .items {
    overflow-y: auto;
    padding-bottom: 25px;
  }

  button {
    -webkit-appearance: none;
    background: var(--light-background-10);
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    color: var(--primary);
    font-size: 12pt;
    display: block;
  }
}

.ac-sel {
  border-color: var(--secondry) !important;
}

#tickets-page {
  #search-box {
    border: 1px solid var(--primary);
    border-radius: 5px;
  }

  .group {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid var(--primary);
    }

    & > button {
      width: 40px;
      -webkit-appearance: none;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;

      .fa {
        cursor: pointer;
        font-size: 14pt;
        color: var(--primary);
      }
    }

    .placeholder-input {
      flex: 1;
      margin-top: auto;

      label {
        color: var(--primary);
      }
    }

    .checkbox-container {
      flex: 1;
      margin: auto;
      text-align: center;
    }

    input {
      -webkit-appearance: none;
      outline: none;
      border: none;
      height: 40px;
      width: 100%;
      background: transparent;
      border-right: 1px solid var(--primary);
      border-left: 1px solid var(--primary);
      color: var(--primary);
      font-size: 14pt;
      text-align: center;
    }
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 5px;
    background: var(--primary);
    margin-top: auto;
    margin-bottom: auto;
  }
}
