html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FCFCFB;
}

$frame-height: 30px;

#frame-wrapper {
  width: 100vw;
  height: $frame-height;
  margin: 0;
  background: #F6F5F2;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#app {
  width: 100vw;
  height: calc(100% - #{$frame-height});
}
